/* SECCION CONT*/
.contacto {
    background-image: url(/assets/form.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  position: fixed;
  }
  
  .contacto .contenido-seccion {
    max-width: 100%;
    margin: auto;
  }
  
  .contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 10px 0;
  }
  
  .contacto .fila {
    display: flex;
  }
  
  .contacto .col {
    width: 100%;
    padding: 10px;
    position:relative;
  }
  
  .contacto .col input,
  .contacto .col textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    color: #161515;
    font-size: 18px;
    border-radius: 3%;
  }
  
  .contacto button {
    cursor: pointer;
    background-color: #a04f4f;
    border: 2px solid #a04f4f;
    width: fit-content;
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
  }
  
  .contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rosybrown;
    z-index: -1;
    transition: 1s;
    margin-bottom: -30;
  }
  
  .contacto button:hover .overlay {
    width: 100%;
  }
  
  @media screen and (max-width: 760px){
    form .col{
        margin-left: 0px;
    }
  }
    